<div class="free-shipping"><a href="{{ site.url | prepend: site.baseurl }}/order/">Free shipping on all orders in the
		Continental U.S.</small></a></div>
<div class="hidden-lg hidden-xl hidden-md mobile-nav-cart">
	<a href="{{ site.url | prepend: site.baseurl }}/cart/"><i class="fa fa-shopping-cart"></i> Cart</a>
</div>

<header>
	<section class="hero">
		<div class="texture-overlay"></div>
		<div class="container">
			<div class="row nav-wrapper">
				<div class="col-md-4 col-sm-4 col-xs-4 text-left">
					<a href="{{ site.url | prepend: site.baseurl }}"><img
							src="{{ site.url | prepend: site.baseurl }}/img/logo-white.png" alt="Gibbs Tuff Logo" class="logo"></a>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-8 text-right navicon hidden-lg hidden-xl hidden-md">
					<p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span
							class="mobile-menu-icon"></span></a>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-8 text-right navicon visible-lg visible-xl visible-md">
					<div class="header-full-nav">
						<a href="{{ site.url | prepend: site.baseurl }}/order/">Shop</a>
						<a href="{{ site.url | prepend: site.baseurl }}/about/">About</a>
						<a href="{{ site.url | prepend: site.baseurl }}/usinggibbs/">Using Gibbs</a>
						<a href="{{ site.url | prepend: site.baseurl }}/contact/">Contact</a>
						<a href="{{ site.url | prepend: site.baseurl }}/cart/"><i class="fa fa-shopping-cart"></i> Cart (<span
								id="simpleCart_quantity" class="simpleCart_quantity"></span>)</a>
					</div>
				</div>
			</div>
			{% unless page.hero == false %}
			<div class="row hero-content">
				<div class="col-md-7">
					<h1 class="animated fadeInDown">Gibbs Brand is designed to lubricate and provide long lasting protection.</h1>
					<a href="{{ site.url | prepend: site.baseurl }}/order/" class="use-btn animated fadeInUp">Get Gibbs</a> <a
						href="#about" class="learn-btn animated fadeInUp">Learn more <i class="fa fa-arrow-down"></i></a>
				</div>
			</div>
			{% endunless %}
		</div>
	</section>
</header>