<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{"/js/min/toucheffects-min.js" | prepend: site.baseurl}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{"/js/flickity.pkgd.min.js" | prepend: site.baseurl}}"></script>
<script src="{{"/js/jquery.fancybox.pack.js" | prepend: site.baseurl}}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{"/js/retina.js" | prepend: site.baseurl}}"></script>
<script src="{{"/js/waypoints.min.js" | prepend: site.baseurl}}"></script>
<script src="{{"/js/simpleCart.min.js" | prepend: site.baseurl}}"></script>
<script src="{{"/js/bootstrap.min.js" | prepend: site.baseurl}}"></script>
<script src="{{"/js/min/scripts-min.js" | prepend: site.baseurl}}"></script>


<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

<script type="text/javascript">
(function($){
  $('#cform').on('submit', function(e) {
    var child = $("#cform *");
    child.fadeTo(500, 0.0, function() {
        child.slideUp();
    });
    $('#form-success').removeClass('hidden');
  });
})(jQuery);
</script>

<script>
	simpleCart({
		checkout: {
			type: "PayPal" ,
			email: "you@yours.com"
		}
	});
</script>
