<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{"/js/min/toucheffects-min.js" | prepend: site.baseurl}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{"/js/min/flickity.pkgd.min.js" | prepend: site.baseurl}}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{"/js/min/waypoints.min.js" | prepend: site.baseurl}}"></script>
<script src="{{"/js/min/simpleCart.min.js" | prepend: site.baseurl}}"></script>
<script src="{{"/js/min/bootstrap.min.js" | prepend: site.baseurl}}"></script>
<script src="{{"/js/min/modernizr.custom.js" | prepend: site.baseurl}}"></script>
<script src="{{"/js/scripts.js" | prepend: site.baseurl}}"></script>


<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

<script>
(function($){
  $('#cform').on('submit', function(e) {
    var child = $("#cform *");
    child.fadeTo(500, 0.0, function() {
        child.slideUp();
    });
    $('#form-success').removeClass('hidden');
  });

  $('.add-cart-button').on('click', function(event) {
    event.target.innerHTML = 'Added!';
    setInterval(function(){
       event.target.innerHTML = 'Add to Cart';
    }, 2500);
  });
})(jQuery);
</script>

<script>
	simpleCart({
		checkout: {
			type: "PayPal" ,
			email: "gibbstuffinc@gmail.com"
    },
    taxRate: 0.00,
    currency: "USD",
    language: "english-us",
    cartColumns: [
        { attr: "name" , label: "Name" } ,
        { view: "remove" , text: "Remove" , label: false },
        { view: function(item, column){
            return  "";
          } ,
          attr: "spacer" ,
          label: false
        },

        { attr: "price" , label: "Price", view: 'currency' } ,

        { view: function(item, column){
            return  "x";
          } ,
          attr: "x-label" ,
          label: "Quantity"
        },
        { view:'input', attr:'quantity', label: "Quantity" },
        { view: function(item, column){
            return  "Update";
          } ,
          attr: "btn-fake" ,
          label: false
        },
        { view: function(item, column){
            return  "";
          } ,
          attr: "spacer" ,
          label: ""
        }

    ]
  });


  /* if the cart is empty */
  simpleCart.bind('update', function () {
      if (simpleCart.quantity() <= 0) {
          $(".simpleCart_items").hide();
          $("#emptyCartDisplay").show();
          $(".simpleCart_checkout").hide();
      }
      else {
          $(".simpleCart_items").show();
          $("#emptyCartDisplay").hide();
          $(".simpleCart_checkout").show();
      }
  });


  $("#shippingLocation").on("change", function(){

    var shippingLocation;
    shippingLocation = $('#shippingLocation input:checked').val();
    
    if (shippingLocation === 'florida') {
      simpleCart({
        taxRate: 0.07
      });
    } else {
      simpleCart({
        taxRate: 0.00
      });
    }

    return $('.simpleCart_tax').html('$' + parseFloat(simpleCart.taxRate() * simpleCart.total()).toFixed(2));

  });

</script>
