$dark-color: #1a1a24;
$bold-color: #e4620c;
$link-color: #665f5b;
$body-text-color: #8e9398;
$background-light: #f6f7f9;


$bp-small : 480px;
$bp-small-plus : 650px;
$bp-medium : 768px;
$bp-large : 992px;
$bp-xlarge : 1200px;

@mixin breakp ($breaksize){
    @media only screen and (min-width: $breaksize) { @content; }
}
